body {
  background-size: 1600px;
  /* background-image: url("https://images.unsplash.com/photo-1520074881623-f6cc435eb449?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7100f69e931356593caddcae209ad7b3&auto=format&fit=crop&w=1650&q=80"); */
}

.btn-margin {
  margin-top: 10px;
}

.font-color {
  color: darkolivegreen;
}

.eaten-color {
  color: #343a40;
}

.order-color {
  color: #28a745;
}

.add-color {
  color: #ffc107;
}

hr.style12 {
  height: 6px;
  /* background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 */
    0;
  border: 0;
}

.font-style {
  font-family: "Kaushan Script", cursive;
}
